    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: rgb(255, 255, 255);
        font-family: 'Nunito', sans-serif;
    }
    
    .header {
        height: 90vh;
        position: relative;
        margin-bottom: 50px;
        background-image: url("https://workat.tech/images/blogs/developer-profile.png");
        background-position: right;
        background-size: cover;
    }
    
    .aboutUsText {
        position: absolute;
        left: 30%;
        top: 30%;
        transform: translate(-50%, -20%);
        color: rgb(66, 95, 180);
        font-size: 90px;
    }
    
    .firstMember,
    .secondMember,
    .thirdMember,
    .fourthMember {
        height: 500px;
        background-color: #dfeeee;
        display: flex;
        flex-direction: row;
    }
    
    .secondMember,
    .fourthMember {
        background-color: #f0f7f7;
    }
    
    .img {
        padding: 20px 50px;
        height: 80%;
    }
    
    .imgImage {
        height: 100%;
        float: left;
    }
    
    .textFirstMember,
    .textSecondMember,
    .textThirdMember,
    .textFourthMember {
        position: relative;
        width: 100%;
    }
    
    .textFirstMemberName,
    .textSecondMemberName,
    .textThirdMemberName,
    .textFourthMemberName {
        position: absolute;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 300;
        top: 10%;
        right: 30%;
        animation: moveInLeft 1.6s;
    }
    
    .textFirstMemberName,
    .textThirdMemberName {
        animation: moveInRight 1.6s;
        left: 10%;
    }
    
    .textFirstMemberName-sub,
    .textSecondMemberName-sub,
    .textThirdMemberName-sub,
    .textFourthMemberName-sub {
        position: absolute;
        top: 25%;
        left: 10%;
        overflow: hidden;
        font-weight: 200;
        animation: moveInBottom 2s;
    }
    
    .iconFirstMember,
    .iconSecondMember,
    .iconThirdMember,
    .iconFourthMember {
        position: absolute;
        top: 85%;
        left: 20%;
    }
    
    .iconMemberPositioning {
        padding: 0 50px;
        color: black;
    }
    
    .iconMemberPositioning:visited {
        text-decoration: none;
        color: black;
    }
    
    .onHover:hover {
        transform: scale(1.5);
    }
    
    @keyframes moveInLeft {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }
        80% {
            /* transform: rotate(-5deg); */
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }
    
    @keyframes moveInRight {
        0% {
            opacity: 0;
            transform: translateX(100px);
        }
        80% {
            /* transform: rotate(5deg); */
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }
    
    @keyframes moveInBottom {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }
    
    @media only screen and (max-width: 1300px) {
        .aboutUsText {
            top: 5%;
            left: 50%
        }
    }